<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ssr</title>
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/app.css" />
    <style>
        #_500 {
            padding: 20px;
            font-size: 32px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="_500">500</div>
</body>
</html>
