html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
    background-color: #fff;
    font-size: 15px;
}

a {
    cursor: pointer;
    color: #3af;
    text-decoration: none;
    margin: 0 3px;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.flex-1 {
    display: flex;
    flex: 1;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

